html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset para navegadores antiguos */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}



body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}

#listaUsuarios {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    justify-content: center;
    padding: 0;
    height: 40px;
    width: 40px;
    ;
}

.tarjeta {
    background: #fff;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 250px;
    height: 100px;

}

.foto {
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin-bottom: 15px;
}

.usuario .datos {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.usuario {
    background: #fff;
    padding: 20px;
    margin: 10px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    display: flex;
    gap: 20px;
    align-items: flex-start;
    width: 300px;
    min-height: 160px;
}

.usuario img {
    width: 120px;
    height: 120px;
    border-radius: 12px;
    object-fit: cover;
}

.usuario h2 {
    margin: 0;
    color: #333;
}

.usuario p strong {
    color: #333;
    margin: 4px 0;
    font-size: 14px;
    margin-left: 0;
}

